*.user
*.opensdf
*.sdf
*.suo
*.ipch
*.suo
*.exp
*.lib
*.dll
*.7z
*.obj
*.cache

*.exe
*.tlog

*.lastbuildstate

*.pdb

*.pch

*.res

*.log

*.manifest

*.unsuccessfulbuild

*.db
*.pk4
doomkey
xpkey
*.spec
/build/Win32/Release/base/*.txt

STEAM_doomkey
maps
savegames
STEAM_xpkey
